<div class="container">
  <h4>商品編集</h4>
  <table class="table table-borderless">
    <%= form_with model: @item,url: edit_admin_item_path, local:true do |item|%>
      <tr>
        <th><label for="image">商品画像</label></th>
        <td><%= item.file_field:image,accept:"image/*"%><br></td>
      </tr>
      <tr>
        <th><label for="name">商品名</label></th>
        <td><%= item.text_field:name %><br></td>
      </tr>
      <tr>
        <th><label for="introduction">商品説明</label></th>
        <td><%= item.text_area:introduction %><br></td>
      </tr>
      <tr>
        <th><label for="genre_id">ジャンル</label></th>
        <td><%= item.collection_select(:genre_id,@genres,:id,:name,include_blank:"--選択してください--")%><br></td>
      </tr>
      <tr>
        <th><label for="price">税抜価格</label></th>
        <td><%= item.number_field:price %>円</td>
      </tr>
      <tr>
        <th><label for="is_active">販売ステータス</label></th>
        <td>
          <%= item.radio_button:is_active,true %>
          <%= item.label:is_active,"販売中",{value:"true",style:"display:inline-block;"}%>
          <%= item.radio_button:is_active,false %>
          <%= item.label:is_active,"販売停止中",{value:"false",style:"display:inline-block;"}%><br>
        </td>
      </tr>
      <tr>
        <td><%= item.submit"変更を保存"%></td>
      </tr>
    <% end %>
  </table>
</div>