<div class="container">
 <h4 class="page-title">商品詳細</h4>
  <div class="row">
   <div class="col-md-3 mt-2">
     <%= image_tag @item.get_cake_image, width: '100%', height:'auto'%>
   </div>

   <table class="table table-borderless col-md-7 mt-2 ml-2">
    <tr>
     <th style="width: 35%">商品名</th>
     <td><%= @item.name %></td>
    </tr>
    <tr>
     <th>商品説明</th>
     <td><%= @item.introduction %></td>
    </tr>
    <tr>
     <th>ジャンル</th>
     <td><%= @item.genre.name %></td>
    </tr>
    <tr>
     <th>税込価格（税抜価格）</th>
     <td><%= @item.price %>円</td>
     <!--「税込」と「税抜」の表示は見本では改行されている。priceは税抜価格のため、あとで税込価格を表示させる必要がある-->
    </tr>
    <tr>
     <th>販売ステータス</th>
     <td>
      <% if @item.is_active == true %>
       <p class="text-success font-weight-bold">販売中</p>
      <% else %>
       <p class="text-secondary">販売停止中</p>
      <% end %>
     </td>
    </tr>
    <tr>
     <th></th>
     <td>
      <%= link_to"編集する",edit_admin_item_path(@item.id),class:'btn btn-success'%>
      <%= link_to "戻る", admin_items_path, class:'btn btn-primary ml-2' %></td>
    </tr>
   </table>
   </div>

  </div>