<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-title">ジャンル一覧・追加</h4>
      <%= form_with model: @genre, url: admin_genres_path, local: true do |genre|%>
        <label for="name">ジャンル名</label>
        <%= genre.text_field:name %>
        <%= genre.submit'新規登録',class:'btn btn-success'%>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
      <th>ジャンル</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <% @genres.each do |genres|%>
      <tr>
        <td><%= genres.name %></td>
        <td><%= link_to"編集する",edit_admin_genre_path(genres.id),class:'btn btn-success' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
