<div class="container">
 <div class="row">
  <h4 class="col">ショッピングカート</h4>
  <%= link_to"カートを空にする",cart_items_destroy_all_path, method: :delete, class:'btn btn-danger'%>
  <!--destroy_allのアクションに行きたいのにdestroyに行ってしまう-->
 </div>
 
 <table class="table table-bordered mt-3">
  <thead class="text-center">
    <tr>
     <th style="width:30%">商品名</th>
     <th style="width:15%">単価（税込）</th>
     <th style="width:20%">数量</th>
     <th style="width:20%">小計</th>
     <th></th>
    </tr>
  </thead>
  
  <% @cart_items.each do |cart_item|%>
  <%= form_with model: cart_item, url: cart_item_path(cart_item.id),local:true do |cart_update|%>
  <!--カート内商品の個数変更は正常に作動-->
  <tbody class="text-center">
    <tr>
     <td>
      <%= image_tag cart_item.item.image, size:'50x50'%>
      <%= cart_item.item.name %>
     </td>
     <td><%= (cart_item.item.with_tax_price).to_s(:delimited) %></td>
     <td>
      <%= cart_update.select:amount,*[1..10],selected:cart_item.amount %>
      <%= cart_update.submit"変更",class:'btn btn-success'%>
     </td>
     <td><%= (cart_item.subtotal).to_s(:delimited) %></td>
     <!--.to_s(:delimited)でカンマ表示-->
     <td><%= link_to"削除する",cart_item_path(cart_item.id),method: :delete, class:'btn btn-danger'%></td>
     <!--1商品ずつの削除ボタンは正常に作動-->
    </tr>
  </tbody>
  <% @total_price = @total_price + cart_item.subtotal %>
  <!--each文の中で合計金額を表示させずに計算だけしておいて後で呼び出してる-->
  <% end %>
  <% end %>
  
 </table>
 
 <div class="row">
   <div class="col">
     <%= link_to"買い物を続ける",root_path,class:'btn btn-primary' %>
   </div>
   <div class="col">
    <table class="table table-bordered">
      <tr>
       <th class="text-center">合計金額</th>
       <td class="text-right"><%= (@total_price).to_s(:delimited) %></td>
      </tr>
    </table>
   </div>
 </div>
 
 <div style="text-align:center">
   <%= link_to"情報入力に進む",new_order_path,class:'btn btn-success'%>
 </div>
 
</div>