<div class="container">
  <% if @orders.blank? %>
   <h4 class="col mb-3" style="text-align:center">
     注文履歴はありません
   </h4>
   <div class="col mt-3 mb-3" style="text-align:center">
     <%= link_to"商品一覧",items_path, class:'btn btn-success'%>
   </div>
  
  <% else %>
  
  <div class="row">
    <h4>注文履歴一覧</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order|%>
      <tbody>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class="small">
            <%= "〒"+order.postal_code.to_s.insert(3,"-") %>
            <%= order.address %><br>
            <%= order.name %>
          </td>
          <td class="small" style="width: 15%">
            <% order.order_details.each do |order_detail|%>
             <%= order_detail.item.name %>
            <% end %>
          </td>
          <td>
            <%= order.total_payment.to_s(:delimited) %>円
          </td>
          <td>
            <%= order.status_i18n %>
          </td>
          <td>
            <%= link_to"表示する",order_path(order.id), class:'btn btn-primary'%>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
 
 <% end %>
</div>