<div class="container">
 <div class="row">
  <div class="col mt-3">
   <h4 class="page-title">ログイン</h4>
   <h5 class="ml-2 mt-2">会員の方はこちらからログイン</h5>

   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="row form-group mt-4 ml-2">
    <%= f.label:"メールアドレス", class:"col-lg-3 font-weight-bold"%>
    <%= f.email_field:email, class:"col-lg-3",placeholder:"sample@example.com"%>
   </div>

   <div class="row form-group ml-2">
    <%= f.label:"パスワード",class:"col-lg-3 font-weight-bold"%>
    <%= f.password_field:password, class:"col-lg-3"%>
   </div>

   <div class="row">
    <div class="col-lg-3"></div>
    <div class="d-grid gap-2 col-3 mb-3">
     <%= f.submit "ログイン", class:"btn btn-primary d-grid gap-2 col-6"%>
    </div>
   </div>

   <% end %>

  </div>
 </div>

 <div class="row">
  <div class="col mt-3 mb-3">
   <h4 class="page-title">会員登録がお済みでない方</h4>
   <h5 class="col mt-2">
    <%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください。
   </h5>
  </div>
 </div>

</div>

<!--<div class="container">-->
<!--<h3>ログイン</h3>-->

<!--<p>会員の方はこちらからログイン</p>-->

<!--<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->

<!-- <table class ="table table-borderless">-->
<!--   <tr>-->
<!--     <th>メールアドレス</th>-->
<!--     <td><%= f.email_field:email %></td>-->
<!--   </tr>-->

<!--   <tr>-->
<!--     <th>パスワード</th>-->
<!--     <td><%= f.password_field:password %></td>-->
<!--   </tr>-->

<!--   <tr>-->
<!--     <th></th>-->
<!--     <td><%= f.submit"ログイン",class:'btn btn-primary'%></td>-->
<!--   </tr>-->
<!-- </table>-->
  <!--<div class="field">-->
  <!--  <%= f.label :email %><br />-->
  <!--  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
  <!--</div>-->

  <!--<div class="field">-->
  <!--  <%= f.label :password %><br />-->
  <!--  <%= f.password_field :password, autocomplete: "current-password" %>-->
  <!--</div>-->

  <!--<% if devise_mapping.rememberable? %>-->
  <!--  <div class="field">-->
  <!--    <%= f.check_box :remember_me %>-->
  <!--    <%= f.label :remember_me %>-->
  <!--  </div>-->
  <!--<% end %>-->

  <!--<div class="actions">-->
  <!--  <%= f.submit "Log in" %>-->
  <!--</div>-->
<!--<% end %>-->

<!--<h5>会員登録がお済みでない方</h5>-->
<!--<%= link_to"こちら",new_customer_registration_path %>から新規登録を行ってください。-->
<!--</div>-->
<!--<%= render "public/shared/links" %>-->
