<%= render 'genre', genres: @genres %>
<div class="container">
  <h4>商品一覧</h4><span>全XX件</span>
  <!--ジャンル検索を実装するなら、「商品一覧」は「（ジャンル名）一覧」で表示できるようにする-->
  <!--「全x件」が表示できるようにする-->
  <!--あとでページネーションを追加する-->
  <div class="d-flex flex-row flex-wrap mb-4">
    <% @items.each do |items|%>
     <div class="card border-light" style="width: 20%">
       <div class="card-body">
         <%= link_to item_path(items.id),class:"card-img-top" do %>
          <%= image_tag items.get_image, size:'150x120' %>
         <% end %>
       </div>
       <div class="card-title">
         <%= items.name %>
       </div>
       <div class="card-title">
         ¥<%= items.with_tax_price %>
       </div>
     </div>
     <% end %>
  </div>
</div>