<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class="item-list-title col-6">
      <h4>
        <% if params[:genre_id] %>
         <%= @genre.name %>一覧
        <% else %>
         商品一覧
        <% end %>
        <span class="item-list-count">全<%= @items_count %>件</span>
      </h4>

      <div class="item-list">
        <% @items.each do |item|%>
        <div class="item-list-contents">
          <%= link_to item_path(item.id) do %>
           <%= image_tag item.get_cake_image, width: '20%', height: '20%'%>
          <% end %>
          <%= item.name %>
          ￥<%= item.with_tax_price %>
        </div>
        <% end %>
      </div>