<div class="container">
  <div class="row mb-3">
    <div class="col-md-2 mb-2 mr-auto">
      <%= render 'public/items/genre', genres: @genres %>
    </div>

    <div class="col-sm-4">
      <%= image_tag @item.get_cake_image, width: '100%', height: 'auto'%>
    </div>

    <div class="col-sm-6">
      <h4><%= @item.name %></h4>
      <p class="mt-3"><%= @item.introduction %></p>
      <h5>￥<%= @item.with_tax_price %>（税込）</h5>

      <div class="mt-3">
        <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |cart| %>
          <%= cart.hidden_field:item_id, value: @item.id %>
          <%= cart.select:amount, *[1..10], include_blank: "個数選択"%>
          <%= cart.submit "カートに入れる", class:'btn btn-success btn-sm ml-2' %>
        <% end %>
      </div>
    </div>

  </div>
</div>