<div class="container">
  <div class="row">
    <div class="col col-sm-3">
      <%= image_tag @item.image, size:'250x250'%>
      <!--レスポンシブ対応できてないのでサイズ表示の方法を変える必要あり-->
    </div>
    <div class="col col-sm-6">
      <h4><%= @item.name %></h4>
      <p><%= @item.introduction %></p>
      
      <h5>￥<%= @item.with_tax_price %></h5><span>（税込）</span>
      
      <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |cart|%>
       <%= cart.hidden_field:item_id, value: @item.id %>
       <%= cart.select:amount,*[1..10],include_blank:"個数選択"%>
       <%= cart.submit"カートに入れる",class:"btn btn-success"%>
      <% end %>

    </div>
    
  </div>
</div>