<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a30ba0c1da.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column">
    <header class="shadow-sm mt-0">
      <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-white bg-light">
        <div class="container-fluid">
          <div class="navbar-brand"><%= link_to"ながのCAKE",root_path, style:"color:black", class:"border border-dark" %></div>
          <button class="navbar-toggler" type="button" style="background-color: #696969" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expand="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <% if customer_signed_in? %>
           <span>ようこそ、<%= current_customer.last_name %>さん！</span>
          <% end %>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <!--管理者ログイン時-->
              <% if admin_signed_in? %>
               <li class="nav-link">
                 <%= link_to"商品一覧",admin_items_path, style:"color:black", class:"border border-rounded" %>
               </li>
               <li class="nav-link">
                 <%= link_to"会員一覧",admin_customers_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"注文履歴一覧",admin_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"ジャンル一覧",admin_genres_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"ログアウト",destroy_admin_session_path,method: :delete,style:"color:black" %>
               </li>

            <!--顧客ログイン時-->
              <% elsif customer_signed_in? %>
               <li class="nav-link">
                 <%= link_to"マイページ",customers_my_page_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"商品一覧",items_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"カート",cart_items_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"ログアウト",destroy_customer_session_path,method: :delete,style:"color:black" %>
               </li>
              <!--どちらもログインしていない時-->
              <% else %>
               <li class="nav-link">
                 <%= link_to"About",about_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"商品一覧",items_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"新規登録",new_customer_registration_path,style:"color:black" %>
               </li>
               <li class="nav-link">
                 <%= link_to"ログイン",new_customer_session_path,style:"color:black" %>
               </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <main>
      <div class="ml-5 mt-2 text-success">
        <p id="notice"><%= notice %></p>
      </div>
      <div class="ml-5 mt-2 text-danger">
        <p id="alert"><%= alert %></p>
      </div>
      
      <%= yield %>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container-fluid">
        <%= link_to"管理者ログイン",new_admin_session_path,style:"color:green" %>
      </div>
    </footer>
  </body>
</html>
